/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ^CSS RESET^ */

/* Variables */
:root {
  /* Colors */
  --bg: #151517;
  --bg-alt: #232323;
  --bg-acc-alt: #333336;
  --yellow: #f2c744;
  --yellow-alt: #f9f6ee;

  /* Font */
  --ff: 'Inter', sans-serif;
  --h1-fz: 55px;
  --p-fz: 16px;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;

  --border: 8px;
}

html,
body {
  font-family: var(--ff);
  background-color: var(--bg);
  color: var(--yellow-alt);
}

/* Main is where the presentation is going to be placed */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 0.5rem;

  background-color: var(--bg-alt);

  height: 100vh;
  width: 100vw;
}

.hero {
  margin: 30px;
}

.introduction {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--yellow-alt);
  width: 100%;
  gap: 1rem;
}

.zapped {
  color: var(--yellow);
}

.introduction h1 {
  font-weight: var(--fw-light);
}

.introduction h2 {
  font-weight: var(--fw-light);
}

.presentation > p {
  font-size: 21px;
  font-weight: var(--fw-regular);
  line-height: 41px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1.75rem;
  border-radius: var(--border);
  max-width: 96%;
  background-color: var(--bg);
  padding: 1.25rem;

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 28px;
  font-weight: var(--fw-light);
  color: var(--yellow-alt);
}

.codeblock {
  background-color: var(--bg-acc-alt);
  color: var(--yellow-alt);
  padding: 12px;
  border-radius: var(--border);
  position: relative;
  overflow: hidden;
}

.codeblock:hover {
  background-color: #3f3f42;
  color: #e6e3dc;
}

#test {
  position: absolute;
  inset: 0;
  background-color: #3f3f42;
  color: #8bf244;
  pointer-events: none;
  padding: 12px;
}

#test > p {
  margin: auto;
}

.github {
  gap: 0.5rem;
  text-decoration: none;
  opacity: 0.5;
}

.github:hover {
  opacity: 1;
}

.github > svg > g {
  fill: var(--yellow-alt);
  transition: 200ms opacity ease-in-out;;
}

@media screen and (max-width: 300px) {
  .container {
    padding: 1rem 0 0 0; /* Take out the right, bottom and left padding */
    width: 100%;
    max-width: 100%;
  }
  .codeblock {
    padding: 0px;
  }
}
