/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* ^CSS RESET^ */

/* Variables */
:root {
  /* Colors */
  --bg: #151517;
  --bg-alt: #232323;
  --bg-acc-alt: #333336;
  --yellow: #f2c744;
  --yellow-alt: #f9f6ee;

  /* Font */
  --ff: "Inter", sans-serif;
  --h1-fz: 55px;
  --p-fz: 16px;
  /* Font weights */
  --fw-light: 300;
  --fw-regular: 400;

  --border: 8px;
}

html,
body {
  font-family: var(--ff);
  background-color: var(--bg);
  color: var(--yellow-alt);
}

/* Main is where the presentation is going to be placed */
main {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-inline: 0.5rem;

  background-color: var(--bg-alt);

  width: 100%;
}

.hero {
  margin: 30px;
}

.introduction {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  color: var(--yellow-alt);
  width: 100%;
  gap: 1rem;
  min-height: min(85vh, 70rem);
}

.zapped {
  color: var(--yellow);
}

.introduction h1 {
  font-weight: var(--fw-light);
}

.introduction h2 {
  font-weight: var(--fw-light);
}

.presentation > p {
  font-size: 21px;
  font-weight: var(--fw-regular);
  line-height: 41px;
  margin-bottom: 30px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  gap: 1.75rem;
  border-radius: var(--border);
  max-width: 96%;
  background-color: var(--bg);
  padding: 1.25rem;

  box-shadow: 8px 8px 5px rgba(0, 0, 0, 0.1);
}

.container h2 {
  font-size: 28px;
  font-weight: var(--fw-light);
  color: var(--yellow-alt);
}

.codeblock {
  background-color: var(--bg-acc-alt);
  color: var(--yellow-alt);
  padding: 12px;
  border-radius: var(--border);
  position: relative;
  overflow: hidden;
  font-size: var(--p-fz);
  font-family: monospace;
}

.codeblock:hover {
  background-color: #3f3f42;
  color: #e6e3dc;
}

#test {
  position: absolute;
  inset: 0;
  background-color: #3f3f42;
  color: #8bf244;
  pointer-events: none;
  padding: 12px;
}

#test > p {
  margin: auto;
}

#test p > svg > path {
  fill: #8bf244;
  width: 1rem;
  height: 1rem;
}

.socials {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.socials > a {
  text-decoration: none;
  color: var(--yellow-alt);
  opacity: 0.4;
  transition: 200ms opacity ease-in-out;
}

.socials > a > svg {
  width: 2rem;
  height: 2rem;
  fill: var(--yellow-alt);
}

.socials > a:hover {
  opacity: 1;
}

.repos__container {
  width: 100%;
  max-width: 900px;
  margin-inline: auto;
  padding-block: 3rem;
}

#repos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
}

.repo {
  background-color: var(--bg);
  border-radius: var(--border);
  color: var(--yellow-alt);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: .5rem;
  text-align: center;
  transition: 200ms background-color ease-in-out,
              200ms box-shadow ease-in-out;
}

.repo:hover {
  background-color: #101010;
  box-shadow: 0 0 0.5rem #101010;
}

.repo > a {
  padding: 1.5rem 1.5rem 0.5rem 1.5rem;
}

.repo a {
  text-decoration: none;
  color: inherit;
  width: 100%;
  display:block;
  height: 100%;
}

.repos__title {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.repo__title {
  font-size: 1.25rem;
}

.repo__description {
  overflow: hidden;
  font-size: 0.9rem;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-height: 1.5;
  max-height: 5ch;
  margin-top: 0.5rem;
  opacity: 0.8;
  flex:1;
}
.repo > a:hover .repo__description {
  opacity: 1;
}
.repo > a:hover .repo__title {
  text-decoration: underline;
}

.repo__stats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  width: 100%;
}

.repo__stats > a {
  opacity: 0.6;
  flex: 1;
  padding-bottom: 1.5rem;
  display: flex;
  align-items: center;
}

.repo__stats > a:first-child {
  justify-content: flex-end;
}

.repo__stats > a:hover {
  opacity: 1;
}

#repos__message {
  font-size: 1.25rem;
  text-align: center;
}

.stargazers > svg {
  fill: var(--yellow-alt);
  margin-right: 0.5rem;
}

@media screen and (max-width: 300px) {
  .container {
    padding: 1rem 0 0 0; /* Take out the right, bottom and left padding */
    width: 100%;
    max-width: 100%;
  }
  .codeblock {
    padding: 0px;
  }

  .hero {
    width: 50%;
  }

  main {
    height: 100%;
  }
}
